<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <table>
            <tr>
                <td>STT</td>
                <td>username</td>
                <td>password</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Pho</td>
                <td>123</td>
            </tr>
            <tr>
                <td>2</td>
                <td>khoa</td>
                <td>321</td>
            </tr>
        </table>
    </body>
</html>