<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dang Ky</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Hello</h1>
        <form action="/dangky" method="POST">
            <input type="text" name="username" >
            <br><br>
            <input type="password" name="password" >
            <br><br>
            <button>Submit</button>
        </form>
    </body>
</html>
